
@fb-color: #3A579D;
@twitter-color: #5EA9DD;

.btn-facebook{
	border-color: @fb-color;

	&:hover{
		background-color: @fb-color;
	}
}

.btn-twitter{
	border-color: @twitter-color;

	&:hover{
		background-color: @twitter-color;
	}
}