@container-offset: 605px;

html,
body{
    height: 100%;
}

.dash-container{
	position: relative;
    height: 100%;
	.transition(all 0.3s ease-in-out);
}

.result-container{
	z-index: 1000;
	left: 0;
	width: 0;
	overflow-y: auto;
	position: absolute;
	left: 0;
	.transition(all 0.3s ease-in-out);

}
.maps-container{
    height: 100%;

    #map-canvas{
        height: 100%;
    }
}

@media(min-width:768px) {
    .dash-container {
        padding-left: @container-offset;
    }

    .result-container {
        width: @container-offset;
    }

    .maps-container {
        position: relative;
    }
}